<p-tabView>
    <p-tabPanel header="Tipo de documento">
       <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="lblCodigo">Código</label>
                <input id="txtCodigo" type="text" pInputText> 
            </div>
            <div class="p-field p-col">
                <label for="lblNombre">Nombre</label>
                <input id="txtNombre" type="text" pInputText> 
            </div>
            <div class="p-field p-col">
                <label for="lblDescripcion">Descripción</label>
                <input id="txtDescripcion" type="text" pInputText> 
            </div>
        </div>
        <div class="p-grid p-fluid">
            <div class="p-col-6">
                <button type="button" pButton (click)="guardar()" label="Yes" class="p-button-success"></button>
            </div>
            <div class="p-col-6">
                <button type="button" pButton (click)="guardar()" label="No" class="p-button-secondary"></button>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Header 2">
        Content 2
    </p-tabPanel>
</p-tabView>
<p-toast></p-toast>
